name: Build and Deploy to Github Pages

on:
  push:
    branches: [master]

permissions:
  contents: write

defaults:
  run:
    working-directory: web-build

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install deps
        run: bun ci

      - name: Generate lessons
        run: bun run generate

      - name: Build
        run: bun run build

      - name: Debug
        run: |
          ls -lA
          pwd

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
